body {
    padding-left: 27%;
    padding-right: 23%;
    background-color: #fefefe;
    margin: 0;
}

@media only screen and (max-width: 900px) {
    body {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.header{
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    text-align: left;
    position: relative;
    top: 50px;
    left: unset;
    height: unset;
    min-height: 130px;
    font-size: 0.95em;
    font-weight: 700;
    position: fixed;
    left: 0;
    width: unset;
}
.header::after {
    content: "";
    position: absolute;
    border-left: 40px #002b36 solid;
    border-style: solid;
    top: 0;
    border-top: 65px solid transparent;
    border-bottom: 65px solid transparent;
    border-right: none;
    left: 100%;
}
.header > * {
    margin-top:0px;
} 
.header > pre {
    font-size: 1.2em;
}
.header h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

